@media only screen and (max-width: 1280px)  {
    main {
        display: grid;
        position: relative;
        margin-left: 0;
        margin-right: 0;
        padding-top: 40px;
        padding-bottom: 40px
    }
}

@media only screen and (max-width: 684px)  {
    .slogo {
        display: grid;
        grid: auto-flow dense / 1fr 1fr 1fr;
        row-gap: 40px;
    }
}

@media only screen and (max-width: 500px)  {
    #social {
        display: grid;
        margin-top: 30px;
        grid: auto-flow dense / 1fr 1fr;
        gap: 20px;
    }
}

@media only screen and (min-width: 530px)  {
    #contact {
        display: grid;
        justify-items: center;
        padding-top: 20px;
        grid: auto-flow dense / 1fr 1fr;
    
    }
}

@media only screen and (max-width: 530px)  {
    #flex{
        display: inline-flex;
        margin-top: 15px;
    }
}

@media only screen and (max-width: 370px)  {
    #raviimg{
        width: 340px;
    }
}
